/*#008fff*/
/*#001122*/
/*#000727*/

h1 {
    font-size: 4rem;
  }

p {
    font-size: 1.5rem;
    float: right;
  }

body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: white;
    background: #202731;
    overflow-x: hidden;
    }

section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 400px;
        padding-top: 100px;
        
      }

      .blue {
        background: #008fff;
      }

      .dark_blue {
        background: #001122;
      }

      .darker {
        background: #000727;
        overflow: hidden;
      }
      
      .waves {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
      }

      .waves svg {
        position: relative;
        display: block;
        width: calc(103% + 1.3px);
        height: 262px;
      }

      .waves {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
      }

      .waves svg {
        position: relative;
        display: block;
        width: calc(103% + 1.3px);
        height: 262px;
      }

      .waves .shape-fill {
        fill: hsl(240, 3%, 6%);
      }
      .layer1 {
        background-image: url('../IMG/curve.svg');
      }

      .layer2 {
        background-image: url('../IMG/waves.svg');
        transition: 50ms;
      }
      .layer3 {
        background-image: url('../IMG/waves2.svg');
        transition: 50ms;
      }
      .layer4 {
        background-image: url('../IMG/waves3.svg');
        transition: 50ms;
      }

      .spacer {
        aspect-ratio: 960/300;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }


      /*right*/
      .blue.R {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .dark_blue.R {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .odst_2 img{
          border: 5px solid #082b4b;
        }
      }

      .darker.R {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .odst_2 img{
          border: 5px solid #04203a;
        }
      }
      
      .content {
        display: flex;
        align-items: center;
      }
      
      .odst_2 {
        flex: 1;
        padding: 10px;
      }
      
      .odst_2 img {
        max-width: 400px;
        border: 5px solid #018af3;
        border-radius: 5%;
      }
      
      .curve {
        width: 100%;
        height: 10px;
      }

      /*left*/

      .blue.L {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .odst_22 img{
          border: 5px solid #018af3;
        }
      }

      .dark_blue.L {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .darkest.L {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .odst_22 img{
          border: 5px solid #01182b;
        }
      }
      
      .contentt {
        display: flex;
        align-items: center;
      }
      
      .odst_22 {
        flex: 1;
        padding: 10px;
      }
      
      .odst_22 img {
        max-width: 400px;
        border: 5px solid #082b4b;
        border-radius: 5%;
      }
      
      .curvee {
        width: 100%;
        height: 10px;
      }



      
@media (max-width: 600px) {

  .blue,
.dark_blue,
.darker,
.darkest {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

  h1 {
    font-size: 20px;
  }
  
  p {
    font-size: 14px;
  }

  
}

@media (max-width: 600px) {
  .contentt,
  .content {
    flex-direction: column;
  }
}

